.body {
  border: 2px solid red;

    width:1920px;
    /* height: 1558px; */
    background-color: #FFFFFF;
    padding-top: 30px;

    display: grid;
    place-items: center;
}

.header,
.main {
    border: 2px solid red;

  width: 1100px;
}

