@font-face {
    font-family: "Helvetica";
    font-style : normal;
    font-weight: normal;
    src        : local("Helvetica"),
        url("../fonts/helvetica_regular.otf") format("opentype");
}

.body {
    background-color: #ffffff;
    padding-top     : 30px;
    padding-bottom  : 70px;

    display    : grid;
    place-items: center;
}

.header,
.main {
    width: 1110px;
}

.menu-block__list,
.breadcrumbs__list,
.navigation__list,
.main-title,
.selected-products__list,
.selected-products__title,
.product-item__title,
.product-item__description,
.product-item__price {
    margin         : 0;
    padding        : 0;
    list-style-type: none;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.header-wrap {
    display: grid;
    row-gap: 40px;
}

.menu-block {
    height         : 30px;
    display        : flex;
    justify-content: space-between;

    .search-block {
        display        : flex;
        justify-content: space-between;
        gap            : 20px;

        .icon-search {
            width : 25px;
            height: 25px;
        }

        .input-search {
            width : 250px;
            height: 1fr;

            display    : grid;
            align-items: center;

            border      : 1px solid #9f9f9f;
            border-top  : none;
            border-left : none;
            border-right: none;

            font-family: "Helvetica";
            font-style : normal;
            font-weight: 400;
            font-size  : 18px;
            line-height: 21px;

            font-feature-settings: "tnum"on, "lnum"on;

            color: #000000;
        }

        .input-search:focus {
            outline: none;
        }

        .input-search::placeholder {
            font-family: "Helvetica";
            font-style : normal;
            font-weight: 400;
            font-size  : 18px;
            line-height: 21px;

            font-feature-settings: "tnum"on, "lnum"on;

            color: #9f9f9f;
        }
    }

    .menu-block__list {
        display        : flex;
        justify-content: space-around;
        gap            : 10px;
    }
}

.navigation {
    display        : flex;
    justify-content: space-between;
    align-items    : flex-end;

    .navigation__main-link {}

    .navigation__list {
        display: flex;
        gap    : 30px;

        .navigation__link {
            text-decoration: none;

            font-family: "Helvetica";
            font-style : normal;
            font-weight: 700;
            font-size  : 18px;
            line-height: 21px;

            text-transform       : uppercase;
            font-feature-settings: "tnum"on, "lnum"on;

            color: #9f9f9f;
        }

        .navigation__link:hover {
            font-family: "Helvetica";
            font-style : normal;
            font-weight: 700;
            font-size  : 18px;
            line-height: 21px;

            text-transform       : uppercase;
            font-feature-settings: "tnum"on, "lnum"on;

            color: #000000;
        }
    }
}

.breadcrumbs {
    padding-top   : 50px;
    padding-bottom: 50px;

    .breadcrumbs__list {
        display: flex;

        .breadcrumbs__item {
            
        }
        .breadcrumbs__item:not(:last-child)::after {
            content: "/";

            font-family: "Helvetica";
            font-style : normal;
            font-weight: 400;
            font-size  : 18px;
            line-height: 21px;

            font-feature-settings: "tnum"on, "lnum"on;

            color: #9f9f9f;

            padding-left : 10px;
            padding-right: 10px;
        }

        .breadcrumbs__link {
            text-decoration: none;
            margin         : 0;
            padding        : 0;
            display        : inline-block;

            font-family: "Helvetica";
            font-style : normal;
            font-weight: 400;
            font-size  : 18px;
            line-height: 21px;

            font-feature-settings: "tnum"on, "lnum"on;

            color: #9f9f9f;
        }

        .breadcrumbs__link:hover {
            font-family: "Helvetica";
            font-style : normal;
            font-weight: 400;
            font-size  : 18px;
            line-height: 21px;

            font-feature-settings: "tnum"on, "lnum"on;

            color: #000000;
        }

        .current-page-link {
            text-decoration: none;
            pointer-events : none;

            font-family: "Helvetica";
            font-style : normal;
            font-weight: 400;
            font-size  : 18px;
            line-height: 21px;

            font-feature-settings: "tnum"on, "lnum"on;

            color: #000000;
        }
    }
}

.main {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas  :
        "title map"
        "login map"
        "form map";

    .grid-area-title {
        grid-area: title;
    }

    .grid-area-login {
        grid-area: login;
    }

    .grid-area-form-wrap {
        grid-area: form;
    }

    .grid-area-map-total-price {
        grid-area: map;
    }

    .main-title {
        padding-bottom: 15px;
        text-align    : start;

        font-family: "Helvetica";
        font-style : normal;
        font-weight: 700;
        font-size  : 40px;
        line-height: 46px;

        font-feature-settings: "tnum"on, "lnum"on;

        color: #000000;

    }

    .log-in {
        padding-bottom: 30px;

        display    : flex;
        align-items: flex-start;
        gap        : 5px;

        font-family: "Helvetica";
        font-style : normal;
        font-weight: 400;
        font-size  : 16px;
        line-height: 120%;

        font-feature-settings: "tnum"on, "lnum"on;

        color: #000000;

        .login-link {
            text-decoration: none;

            font-family          : "Helvetica";
            font-style           : normal;
            font-weight          : 400;
            font-size            : 16px;
            line-height          : 18px;
            text-decoration-line : underline;
            font-feature-settings: "tnum"on, "lnum"on;

            color: #9f9f9f;
        }

        .login-link:hover {
            font-family          : "Helvetica";
            font-style           : normal;
            font-weight          : 400;
            font-size            : 16px;
            line-height          : 18px;
            text-decoration-line : underline;
            font-feature-settings: "tnum"on, "lnum"on;

            color: #000000;
        }
    }

    .buy-product-form-wrap {
        .buy-product__form {
            padding-right: 50px;

            display       : flex;
            flex-direction: column;
            gap           : 70px;

            .buy-product__user-data {
                display       : flex;
                flex-direction: column;
                gap           : 20px;

                .buy-product__element-wrap {
                    display       : flex;
                    flex-direction: column;
                    gap           : 4px;
                    height        : 46px;
                }

                .input-label {
                    font-family: "Helvetica";
                    font-style : normal;
                    font-weight: 400;
                    font-size  : 12px;
                    line-height: 14px;

                    font-feature-settings: "tnum"on, "lnum"on;

                    color: #9f9f9f;
                }

                .buy-product__inputs-wrap {
                    display              : grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap           : 35px;
                }

                .buy-product__input,
                .select-field {
                    height: 46px;

                    border      : 1px solid #9f9f9f;
                    border-top  : none;
                    border-left : none;
                    border-right: none;

                    font-family: "Helvetica";
                    font-style : normal;
                    font-weight: 400;
                    font-size  : 16px;
                    line-height: 120%;

                    font-feature-settings: "tnum"on, "lnum"on;

                    color: #000000;
                }

                .buy-product__input:focus {
                    outline: none;
                }

                .buy-product__input::placeholder,
                .select-field {
                    font-family: "Helvetica";
                    font-style : normal;
                    font-weight: 400;
                    font-size  : 16px;
                    line-height: 120%;

                    font-feature-settings: "tnum"on, "lnum"on;

                    color: #9f9f9f;
                }

                .select-field {
                    user-select: none;
                    cursor     : pointer;
                    width      : 1fr;
                    height     : 46px;

                    display    : grid;
                    align-items: center;
                }

                .vector-down {
                    background         : url("../img/icon/select-vector-down.svg") no-repeat center;
                    background-position: 98%;
                    outline            : 0;
                }

                .vector-up {
                    background         : url("../img/icon/select-vector-up.svg") no-repeat center;
                    background-position: 98%;
                    outline            : 0;
                }

                .select-list-wrap {
                    position: relative;
                    width   : 1fr;
                }

                .list {
                    width           : 100%;
                    position        : absolute;
                    background-color: white;

                    cursor         : pointer;
                    list-style-type: none;
                    margin         : 0;
                    padding        : 20px;

                    display       : flex;
                    flex-direction: column;
                    gap           : 20px;

                    // width: 1fr;
                    box-sizing: border-box;
                    border    : 2px solid #9f9f9f;
                }

                .item {
                    box-sizing: border-box;

                    font-family: "Helvetica";
                    font-style : normal;
                    font-weight: 400;
                    font-size  : 16px;
                    line-height: 120%;

                    font-feature-settings: "tnum"on, "lnum"on;

                    color: #9f9f9f;
                }

                .item:hover {
                    color: #000000;
                }

                .selected-text {
                    font-family: "Helvetica";
                    font-style : normal;
                    font-weight: 400;
                    font-size  : 16px;
                    line-height: 120%;

                    font-feature-settings: "tnum"on, "lnum"on;

                    color: #000000;
                }
            }

            .buy-product__selected-products {

                .selected-products__title {
                    padding-bottom: 30px;

                    font-family          : "Helvetica";
                    font-style           : normal;
                    font-weight          : 700;
                    font-size            : 28px;
                    line-height          : 32px;
                    font-feature-settings: "tnum"on, "lnum"on;

                    color: #000000;
                }

                .selected-products__list-submit-wrap {
                    display       : flex;
                    flex-direction: column;
                    gap           : 25px;

                    .selected-products__list {
                        display       : flex;
                        flex-direction: column;
                        gap           : 50px;

                        .selected-products__item {
                            display              : grid;
                            grid-template-columns: 150px 20px 2fr 1fr;
                            grid-template-areas  : "img . info price";

                            .grid-area-img {
                                grid-area: img;
                            }

                            .grid-area-info {
                                grid-area: info;
                            }

                            .grid-area-price {
                                grid-area: price;
                            }

                            .product-item__info-wrap,
                            .product-item__price-wrap {
                                display        : flex;
                                flex-direction : column;
                                justify-content: space-between;
                            }

                            .product-item__image {
                                width : 150px;
                                height: 150px;
                            }

                            .product-item__info-wrap {
                                .product-item__title {
                                    font-family: "Helvetica";
                                    font-style : normal;
                                    font-weight: 700;
                                    font-size  : 20px;
                                    line-height: 23px;

                                    font-feature-settings: "tnum"on, "lnum"on;

                                    color: #000000;
                                }

                                .product-item__description {
                                    padding-top   : 10px;
                                    padding-bottom: 20px;
                                    box-sizing    : border-box;
                                    word-break    : break-word;

                                    font-family: "Helvetica";
                                    font-style : normal;
                                    font-weight: 400;
                                    font-size  : 16px;
                                    line-height: 120%;

                                    font-feature-settings: "tnum"on, "lnum"on;

                                    color: #9f9f9f;
                                }

                                .product-item__item-count {
                                    display    : flex;
                                    align-items: flex-end;

                                    width : 114px;
                                    height: 40px;

                                    border    : 1px solid #000000;
                                    box-sizing: border-box;

                                    .product-item__item-count-wrap {
                                        width : 100%;
                                        height: 100%;

                                        display              : grid;
                                        grid-template-columns: 1fr 1fr 1fr;
                                        align-items          : center;

                                        .product-item__item-count__reduce,
                                        .product-item__item-count__increase {
                                            outline         : none;
                                            border          : 0;
                                            background-color: transparent;

                                            display        : grid;
                                            justify-content: center;
                                            align-items    : center;

                                            .icon-minus,
                                            .icon-plus {
                                                width : 16px;
                                                height: 16px;
                                            }
                                        }

                                        .product-item__item-count__count {
                                            box-sizing: border-box;

                                            font-family: "Helvetica";
                                            font-style : normal;
                                            font-weight: 700;
                                            font-size  : 20px;
                                            line-height: 23px;

                                            text-align: center;

                                            font-feature-settings: "tnum"on, "lnum"on;

                                            color: #000000;
                                        }
                                    }
                                }
                            }

                            .product-item__price-wrap {
                                .product-item__price {
                                    font-family: "Helvetica";
                                    font-style : normal;
                                    font-weight: 700;
                                    font-size  : 20px;
                                    line-height: 23px;

                                    text-align           : right;
                                    font-feature-settings: "tnum"on, "lnum"on;

                                    color: #000000;
                                }

                                .product-item__delete-button {
                                    outline         : none;
                                    border          : 0;
                                    background-color: transparent;

                                    font-family: "Helvetica";
                                    font-style : normal;
                                    font-weight: 400;
                                    font-size  : 14px;
                                    line-height: 16px;

                                    text-align           : right;
                                    text-decoration-line : underline;
                                    font-feature-settings: "tnum"on, "lnum"on;

                                    color: #9f9f9f;
                                }

                                .product-item__delete-button:hover {
                                    font-family: "Helvetica";
                                    font-style : normal;
                                    font-weight: 400;
                                    font-size  : 14px;
                                    line-height: 16px;

                                    text-align           : right;
                                    text-decoration-line : underline;
                                    font-feature-settings: "tnum"on, "lnum"on;

                                    color: #000000;
                                }
                            }
                        }
                        .selected-products__item {
                            position: relative;
                        }
                        .selected-products__item:not(:last-child)::after {
                            content: '';
                            
                            position: absolute;
                            bottom: -25px;
                            
                            width     : 100%;
                            height    : 1px;
                            background: #DEDEDE;
                        }
                    }

                    .product-item__form-submit {
                        width : 100%;
                        height: 70px;

                        background-color: #ffffff;

                        border    : 1px solid #000000;
                        box-sizing: border-box;

                        font-family: "Helvetica";
                        font-style : normal;
                        font-weight: 700;
                        font-size  : 20px;
                        line-height: 23px;

                        text-align           : center;
                        font-feature-settings: "tnum"on, "lnum"on;

                        color: #000000;
                    }

                    .product-item__form-submit:hover {
                        color           : white;
                        background-color: black;
                    }
                }
            }
        }
    }
}

.map-total-price {
    .map-canvas {
        border: 5px solid green;

        width          : 1fr;
        height         : 700px;
        display        : flex;
        flex-direction : column;
        justify-content: flex-end;

        .total-price {
            width  : 1fr;
            padding: 45px 30px;

            color           : white;
            background-color: #000000;
            opacity         : 0.8;

            display        : flex;
            justify-content: space-between;

            font-family: 'Helvetica';
            font-style : normal;
            font-weight: 700;
            font-size  : 40px;
            line-height: 46px;

            font-feature-settings: 'tnum'on, 'lnum'on;

            color: #FFFFFF;
        }
    }
}

.display-none {
    display: none;
}

.visibility-hidden {
    visibility: hidden;
}

.line-style {
    width : 1fr;
    border: 1px solid #dedede;
}

#rectangle {
    width     : 1fr;
    height    : 2px;
    background: black;
}

.invalid-input-style {
    border: 1px solid #D80909;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    
    font-feature-settings: 'tnum' on, 'lnum' on;
    
    color: #D80909;
}

.invalid-label-style {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    font-feature-settings: 'tnum' on, 'lnum' on;
    
    color: #D80909;
}